@media only screen and (max-width: 1550px) {
  /* --------------- Headings --------------- */
  h1 {
    font-size: 180%;
    padding-bottom: 20px;
  }

  /* --------------- Navigations --------------- */
  .nav li {
    padding-left: 30px;
  }

  .nav li ul li {
    padding-left: 0;
  }

  /* --------------- Button --------------- */
  .btn,
  input[type=submit] {
    font-size: 90%
  }
}

@media only screen and (max-width: 1023px) {
  /* --------------- Headings --------------- */
  h1 {
    font-size: 160%;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 140%;
    letter-spacing: 2px;
  }

  h4 {
    font-size: 90%;
  }

  /* --------------- Buttons --------------- */
  .btn {
    font-size: 80%;
    padding: 8px 20px;
  }

  /* --------------- Navigations --------------- */
  .nav {
    font-size: 90%;
  }

  .nav li {
    padding-left: 20px;
  }

  .main-nav {
    top: 40px;
    right: 50px;
  }

  .footer-nav li a {
    font-size: 100%;
  }

  /* --------------- Introduction --------------- */
  #introduction p {
    font-size: 95%;
  }

  /* --------------- Timeline --------------- */
  .timeline {
    height: 480px;
    font-size: 80%;
  }

  .timeline img {
    width: 250px;
    height: 180px;
    padding: 5px;
  }

  /* --------------- Risk management --------------- */
  #risk-management p {
    font-size: 90%;
  }

  .risk-text-box {
    padding-bottom: 30px;
  }

  .solution-button {
    padding-top: 20px;
  }

  /* --------------- Footer --------------- */
  footer > p {
    padding-top: 40px;
  }

  /* --------------- Portfolio --------------- */
  .display-content p {
    font-size: 90%;
  }

  /* --------------- Contact --------------- */
  .contact-form {
    font-size: 70%;
  }

  input[type="submit"] {
    font-size: 100%;
  }
}

@media only screen and (max-width: 889px) {
  /* --------------- Headings --------------- */
  h1 {
    font-size: 150%;
  }

  h2 {
    font-size: 130%;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 90%;
  }

  h3 span {
    display: block;
    margin-top: 5px;
  }

  h4 {
    font-size: 80%;
  }

  /* --------------- Buttons --------------- */
  .btn {
    font-size: 70%;
  }

  /* --------------- Navigations --------------- */
  .nav li {
    padding-left: 15px;
  }

  .main-nav {
    right: 40px;
  }

  /* --------------- Introduction --------------- */
  #introduction p {
    font-size: 90%;
  }

  .introduction-photo-box {
    width: 65%;
  }

  .introduction-text-box {
    font-size: 110%;
  }


  /* --------------- chronological Table --------------- */
  .timeline {
    height: 380px;
    font-size: 80%;
  }

  /* --------------- Footer --------------- */
  footer p {
    font-size: 80%;
  }

  /* --------------- Portfolio --------------- */
  .display-content p {
    font-size: 80%;
  }
}

@media only screen and (max-width: 767px) {
  /* --------------- Headings --------------- */
  h1 {
    font-size: 140%;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 120%;
    letter-spacing: 1px;
  }

  h2:after {
    width: 70px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 80%;
  }

  /* --------------- Buttons --------------- */
  .btn {
    font-size: 70%;
  }

  /* --------------- Navigations --------------- */
  .nav {
    font-size: 80%;
  }

  /* --------------- Header --------------- */
  .img-box {
    flex-direction: column;
  }

  header .hero-text-box {
    padding-bottom: 30px;
  }

  .img-box-left,
  .img-box-right {
    height: 50%;
  }

  .hero-text-box {
    padding-bottom: 30px;
  }

  /* --------------- Introduction --------------- */
  #introduction {
    padding: 40px 0;
  }

  .introduction-text-box {
    font-size: 70%;
  }

  .introduction-text-box::before {
    top: 20px;
    font-size: 40px;
  }


  /* --------------- Timeline --------------- */
  #chronological-table {
    padding: 40px 0;
  }

  .timeline-box {
    max-width: 600px;
  }

  .timeline {
    height: 300px;
    font-size: 80%;
  }

  .timeline img {
    width: 200px;
    height: 150px;
    padding: 5px;
  }

  .hidden-content > p {
    font-size: 80%;
  }

  /* --------------- Risk management --------------- */
  #risk-management {
    padding: 40px 0;
  }

  #risk-management p {
    font-size: 70%;
  }

  .solution-content {
    width: 170px;
  }

  .solution-button {
    padding-top: 0;
  }

  /* --------------- Footer --------------- */
  footer {
    padding: 40px 0;
  }

  .contact-detail p {
    font-size: 70%;
  }

  .contact-detail {
    padding-bottom: 10px;
  }

  .social-media ul li {
    font-size: 120%;
  }

  footer > p {
    font-size: 80%;
    padding-top: 40px;
  }

  /* --------------- Portfolio --------------- */
  #portfolio {
    padding: 40px 0;
  }

  .display-text-box {
    font-size: 80%;
  }

  .portfolio-button a {
    font-size: 60%;
    padding: 5px 10px;
  }

  /* --------------- Contact --------------- */
  #contact {
    padding: 40px 0 80px ;
  }

  .contact-form {
    font-size: 60%;
  }

  .narrow-view {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .narrow-form {
    padding-top: 30px;
  }

  .mapouter {
    left: -50%;
  }
}

@media only screen and (max-width: 639px) {
  /* --------------- Headings --------------- */
  h3 {
    font-size: 70%;
  }

  /* --------------- Buttons --------------- */
  .btn {
    font-size: 60%;
  }

  /* --------------- Navigations --------------- */
  nav {
    font-size: 70%;
  }

  /* --------------- Introduction --------------- */
  .introduction-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
  }

  .introduction-text-box::before {
    top: 45%;
    left: 17%;
    font-size: 30px;
  }

  .introduction-photo-box {
    width: 40%;
    padding-bottom: 20px;
  }

  .introduction-text-box {
    width: 80%;
    font-size: 80%;
    letter-spacing: 1px;
    padding-right: 0;
    padding: 30px;
  }

  /* --------------- Timeline --------------- */
  .timeline {
    height: 300px;
  }

  .timeline img {
    width: 180px;
    height: 120px;
    padding: 5px;
  }

    .hidden-content > p {
      font-size: 90%;
    }

  /* --------------- Risk management --------------- */
  #risk-management p {
    font-size: 65%;
  }

  .solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .solution-content {
    width: 40%;
  }

  .solution-button {
    padding-top: 0;
  }

  /* --------------- Footer --------------- */
  .top {
    flex-direction: column;
  }

  .footer-right {
    padding: 20px;
  }

  footer > p {
    padding-top: 0;
  }

  /* --------------- Portfolio --------------- */
  #portfolio {
    padding: 40px 0;
  }

  .portfolio-display {
    text-align: center;
    padding-bottom: 10px;
  }

  .display-content img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .display-text-box {
    display: block;
    padding-top: 20px;
  }

  .portfolio-button {
    position: inherit;
    padding-bottom: 10px;
  }

  /* --------------- Contact --------------- */
  .contact-form {
    font-size: 45%;
  }

  input[type="submit"] {
    width: 40%;
  }

  .contact-form {
    font-size: 50%;
  }

  .mapouter {
    left: -58%;
  }
}

@media only screen and (max-width: 600px) {
  .mapouter {
    left: -68%;
  }
}

@media only screen and (max-width: 550px) {
  .mapouter {
    left: -78%;
  }
}

@media only screen and (max-width: 500px) {
  input[type="submit"] {
    width: 50%;
  }

  .contact-form {
    font-size: 40%;
  }

  .mapouter {
    left: -98%;
  }
}

@media only screen and (max-width: 480px) {
  /* --------------- Headings --------------- */
  h2 {
    font-size: 110%;
  }

  h2:after {
    width: 50px;
    margin-top:  15px;
    margin-bottom: 30px;
  }

  /* --------------- Navigations --------------- */
  .nav {
    font-size: 60%;
  }

  /* --------------- Timeline --------------- */
  #chronological-table {
    padding: 40px 0;
  }

  .timeline-box {
    max-width: 450px;
  }

  .timeline {
    height: 380px;
    font-size: 65%;
  }

  .timeline .timeline-item:after {
    width: 13px;
    height: 13px;
    left: -13px;
  }

    .hidden-content > p {
      font-size: 85%;
    }

  /* --------------- Risk management --------------- */
  #risk-management {
    padding: 40px 0;
  }

  #risk-management p {
    font-size: 60%;
  }

  .solution-content {
    width: 120px;
  }

  .solution-img-box {
    margin-bottom: 0;
  }

  .solution-button {
    padding-top: 30px;
  }

  /* --------------- Footer --------------- */
  footer {
    padding: 40px 0;
  }

  .top {
    flex-direction: column;
  }

  .footer-right {
    padding: 20px;
  }

  .contact-detail p {
    font-size: 70%;
  }

  .social-media ul li {
    font-size: 20px;
  }

  footer > p {
    font-size: 60%;
    padding-top: 10px;
  }

  /* --------------- Contact --------------- */
  .mapouter {
    left: -106%;
  }
}

@media only screen and (max-width: 450px) {
  .mapouter {
    left: -118%;
  }
}

@media only screen and (max-width: 420px) {
  .mapouter {
    left: -130%;
  }
}

@media only screen and (max-width: 410px) {
  input[type="submit"] {
    width: 60%;
  }

  .col-2 {
    margin-left: 5px;
  }

  .mapouter {
    left: -138%;
  }
}

@media only screen and (max-width: 400px) {
  .mapouter {
    left: -145%;
  }
}
