* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #555;
}


.row-custom {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

/* -------- Headings ---------- */
h1 {
  font-size: 180%;
  font-weight: 400;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.img-box-right h1 {
  color: #555;
}

h2 {
  font-size: 160%;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

#risk-management h2 {
  color: #fff;
}

h2:after {
  content: '';
  display: block;
  background-color: #daa520;
  height: 2px;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

h3 {
  font-size: 80%;
  font-weight: 400;
  padding-bottom: 20px;
  letter-spacing: 3px;
  cursor: pointer;

}

h4 {
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 1px;
  font-weight: 700;
}

/* -------- Navigation ---------- */
header nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 90%;
  font-weight: 700;
  padding: 20px 50px;
  z-index: 9999;
  padding: 15px 50px;
  background: rgba(255, 255, 255, .7);
}

.header-sub nav ul li a {
  color: #555;
}

.nav li {
  display: inline-block;
  padding-left: 50px;
}

.main-nav li a,
.footer-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(218, 165, 32, 0);
  transition: border .5s;
}

.main-nav li a:hover,
.footer-nav li a:hover {
  border-bottom: 2px solid #daa520;
  padding-bottom: 5px;
  transition: border 1s;
}

/* -------- Dropdown menu ---------- */
.about {
  visibility: hidden;
  width: 130px;
  opacity: 0;
  position: absolute;
  transition: all .5s ease;
  list-style: none;
  background-color: rgba(255, 255, 255, .7);
  margin-top: 15px;
  padding: 5px 15px;
  font-size: 90%;
  text-align: left;
}

.main-nav li:hover > ul,
.about:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.about li {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #555;
  padding-left: 0;
}


.about li:last-child {
  border-bottom: none;
}

.about li a {
  color: #555;
  font-weight: 400;
  font-size: 90%;
  border: none;
  transition: font-size .3s;
}

.about li a:hover {
  font-size: 95%;
  border: none;
  transition: font-size .3s;
}

footer nav {
  font-size: 90%;
  font-weight: 700;
}

/* .footer-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(218, 165, 32, 0);
} */

/* .footer-nav li a:hover {
  border-bottom: 3px solid #daa520;
  padding-bottom: 10px;
  transition: border 1s;
} */

/* -------- Buttons ---------- */
.btn,
input[type=submit] {
  font-size: 100%;
  text-transform: uppercase;
  padding: 7px 20px;
  text-decoration: none;
  border-radius: 20px;
}

.btn-empty,
input[type=submit] {
  border: 1px #daa520 solid;
  color: #daa520;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-empty:hover,
input[type=submit] {
  color: #fff;
  background-color: #daa520;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full {
  color: #fff;
  background-color: #daa520;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:hover {
  border: 1px #daa520 solid;
  color: #daa520;
  background-color: transparent;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

/* -------- Back to top ---------- */
#top-button {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 98;
  border: none;
  outline: none;
  background-color: #555;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0.7;
}

#top-button i {
  display: block;
  color: #fff;
  font-size: 20px;
  z-index: 99;
}

/* -------- Header ---------- */
header {
  background-size: cover;
  height: 100vh;
}

.img-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.img-box-left,
.img-box-right {
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-box-left {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header-left.jpg);
}

.img-box-right {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/programming.jpg);
}

.hero-text-box {
  text-align: center;
  padding-bottom: 60px;
}

.sub-box {
  padding-bottom: 50px;
}

/*
Header sub
*/
.header-sub {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/headersub.jpg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-sub .hero-text-box {
  padding-bottom: 45px;
}

.header-sub h1 {
  padding-bottom: 0;
}

/* -------- Introduction ---------- */
#introduction {
  padding: 60px 0;
  background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url(../img/introduction-back.jpg);
  background-size: cover;
}

#introduction p {
  margin: 0;
}

.introduction {
  text-align: center;
  margin-bottom: 20px;
}

.introduction > p {
  font-size: 90%;
  letter-spacing: 2px;
}

.introduction-content {
  background: rgba(168, 185, 170, .2);
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  position: relative;
  border-radius: 5px;
}

.introduction-photo-box {
  width: 75%;
}

.introduction-photo-box img {
  width: 100%;
}

.introduction-text-box {
  text-align: center;
  padding: 40px 10px;
  width: 25%;
  border-radius: 10px;
  font-size: 120%;
}

.introduction-text-box p:first-child {
  font-size: 140%;
}

.introduction-button {
  position: absolute;
  right: -6%;
  bottom: 10%;
}

/* -------- chronological Table ---------- */
#chronological-table {
  background-color: #efefef;
  letter-spacing: 2px;
  padding: 60px 0;
}

#chronological-table p {
  font-weight: 400;
  line-height: 1.5;
  color: #555;
}

.timeline-box {
  width: 70%;
  margin: 0 auto;
}

.timeline {
  height: 580px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: #efefef;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 100px;
}

.timeline .timeline-body {
  position: relative;
  background-color: #efefef;
  margin-left: 100px;
  padding: 5px 0;
}

.timeline-body:after {
  content: '';
  width: 4px;
  height: 100%;
  background-color: #2f3331;
  position: absolute;
  left: -4px;
  top: 0;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #efefef;
  background-color: #2f3331;
  position: absolute;
  left: -12.5px;
  top: 0px;
  z-index: 9;
}

.timeline .time {
  position: absolute;
  left: -85px;
  top: 0;
  opacity: 0.5;
  font-size: 90%;
}

.timeline .content {
  margin: 25px 40px;
  border-bottom: 1px dashed #555;
}

.timeline .fas.fa-caret-square-down {
  animation: spinback .5s ease forwards;
}

.timeline .fas.fa-caret-square-down.spin {
  animation: spin .5s ease forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes spinback {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* -------- Timeline toggle content ---------- */
.hidden-content {
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
  font-size: 80%;
}

.hidden-content.open {
  max-height: 500px;
  background-color: rgba(168, 185, 170, .2);;
  transition: all .5s ease-out;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline img {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.hidden-content p {
  padding: 0 10px;
  text-transform: capitalize;
  margin-bottom: 0;
}

/* -------- Risk Management ---------- */
#risk-management {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/risk_management.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
}


.risk-text-box {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.risk-text-box > p {
  font-size: 110%;
  text-align: center;
  line-height: 120%;
  letter-spacing: 2px;
  color: #fff;
}

.solution {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.solution-content {
  width: 20%;
  height: auto;
}

.solution-img-box {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
}

.solution img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  transform: scale(1.2);
  transition: transform .5s;
}

.solution img:hover {
  transform: scale(1.12);
  transition: transform .5s;
}

.solution-content p {
  padding: 10px;
  font-size: 90%;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.risk-button {
  font-size: 90%;
  display: block;
  padding: 5px;
  border: 1px solid #daa520;
  text-decoration: none;
  margin-bottom: 5px;
  color: #daa520;
  text-transform: uppercase;
  font-weight: 400;
  transition: font-size .5s, font-weight .5s;
}

.risk-button:hover {
  text-decoration: none;
  color: #daa520;
  font-size: 100%;
  font-weight: 700;
  transition: font-size .5s, font-weight .5s;
}

/* -------- Footer ---------- */
footer {
  background-color: #efefef;
  padding: 60px 0;
  text-align: center;
}

footer p {
  font-size: 90%;
  margin: 0;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
}

.contact-detail {
  padding-bottom: 15px;
}

.social-media ul {
  margin: 0;
}

.social-media ul li {
  display: inline-block;
  font-size: 160%;
  border-left: 2px solid #daa520;
}

.social-media ul li:first-child {
  border-left: none;
}

.social-media ul li a i {
  color: #555;
  padding: 0 20px;
  transform: scale(1);
  transition: transform .5s, color 0.5s;
}

.social-media ul li a i:hover {
  transform: scale(1.12);
  transition: transform .5s, color 0.5s;
  color: #daa520;
}

.social-media ul li a i:active {
  color: #555;
}

footer > p {
  padding-top: 60px;
}

/*
Portfolio
 */
#portfolio {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.portfolio-display {
  background-color: rgba(168, 185, 170, .2);
  margin: 0 auto;
  max-width: 70%;
  width: 1140px;
  height: auto;
  padding: 30px;
  border-radius: 10px;
}

.display-content {
  position: relative;
}

.display-content img {
  display: inline-block;
  width: 50%;
  margin-right: 50px;
}

.display-text-box {
  display: inline-block;
}

.display-text-box h4 a {
  text-decoration: none;
  color: #555;
}

.portfolio-button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.display-content p {
  font-size: 100%;
}

.portfolio-nav {
  padding: 40px 0;
  margin: 0 40px;
  overflow: hidden;
}

.nav-content {
  margin: 0 20px;
}

.nav-content img {
  width: 100%;
  height: 100%;
}

.slick-dots {
  padding: 0;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  margin: 0 10px;
}

.slick-dots li.slick-active {
  background-color: #000;
}

.slick-dots li button {
  display: none;
}

.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  z-index: 999;
  bottom: 13px;
  font-size: 15px;
  cursor: pointer;
}

.fa-chevron-right {
  right: 0;
}


/*
Contact
 */
#contact {
  padding: 60px 0;
  text-transform: uppercase;
}

.contact-form {
  width: 80%;
  font-size: 80%;
}

.input-box {
  padding: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

select {
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 80%;
}

input[type=submit] {
  width: 35%;
}

.map-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* .map-box-title {
  width: 100%;
  text-align: center;
} */

.mapouter {
  position: relative;
  text-align: right;
  height: 250px;
  width: 300px;
  padding-top: 5px;
}

.gmap_canvas {
  overflow: hidden;
  background: none!important;
  height: 250px;
  width: 300px;
}
